@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* GLOBAL */
body {
  background-color: #0d0d0d;
  color: #e0e0e0;
  padding-top: 40px;
  font-family: 'Roboto', sans-serif;
}


/* SECTIONS */
.section-padding {
  padding: 60px 0;
}

/* HEADINGS */
h1, h2, h5 {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}


/* PARAGRAPH */
p {
  color: #bfbfbf;
}

/* HERO */
.hero-section {
  height: 100vh;
  background-color: #0d0d0d;
  color: white;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #bfbfbf;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}


/* EXPERIENCE & PROJECT CARDS */
.card {
  background-color: #1a1a1a;
  border: 1px solid #333;
}

.card-text {
  color: #bfbfbf;
}

/* BUTTONS */
.btn-light {
  background-color: #ffffff;
  color: #000;
}

.btn-outline-light:hover {
  background-color: #ffffff;
  color: #000;
}

/* CONTACT SECTION */
#contact {
  background-color: #111;
}
