.section-2 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2-1> :nth-child(1) {
    font-weight: 600;
}

.section-2-2 {
    margin-top: 80px;
    padding-bottom: 150px;
    display: flex;
    align-items: center;
    gap: 60px;

}

.section-2-2-1 {
    margin-left: 100px;
}

.section-2-2-1 img {
    width: 400px;
    height: 400px;
    border-radius: 50%;

}

.section-2-2-2-1 {
    display: flex;
    gap: 50px;

}

.section-2-2-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;

}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    gap: 5px;
}

.box img {
    width: 35px;
}

.box> :nth-child(2) {
    font-size: 20px;
    font-weight: 600;
}

.box> :nth-child(3),
.box> :nth-child(4) {
    font-size: 17px;
}

.p1 {
    width: 75%;
}

@media (max-width:1024px) {
    .section-2-2 {
        margin-top: 150px;
        flex-direction: column;
    }

    .section-2-2-1{
        margin-left: 0px;
    }

    .section-2-2-2{
        align-items: center        ;
    }
}

@media (max-width:767px) {
    .section-2-2 {
        margin-top: 50px;
        flex-direction: column;
    }

    .section-2-2-1{
        margin-left: 0px;
    }

    .section-2-2-1 img{
        width: 300px;
        height: 300px;

        
    }
    .section-2-2-2{
        align-items: center        ;
    }
    .section-2-2-2-1{
        flex-direction: column;
    }
}