.section-1{
    display: flex;
    height: 90vh;
    align-items: center;
    gap: 60px;
}

.section-1-1{
    margin-left: 100px;
}
.section-1-1 img{
    width: 400px;
    border-radius: 50%;
}
.section-1-2{
    display: flex;
    flex-direction: column;
}
.section-1-2-1{
    font-weight: 600;
}
h1{
    font-size: 50px;
}

.social img{
    width: 30px;
}