.section-1{
    display: flex;
    height: 90vh;
    align-items: center;
    gap: 60px;
}

.section-1-1{
    margin-left: 100px;
}
.section-1-1 img{
    margin-top: 20px;
    width: 400px;
    border-radius: 50%;
    height: 400px;
}
.section-1-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section-1-2-1{
    font-weight: 600;
}

.section-1-2-3{
    font-weight: 600;
    font-size: 22px;
}

p{
    font-size: 18px;
    width: 85%;
}
.btns{
    display: flex;
    gap: 20px;
}

.btns >:nth-child(1){
    padding: 10px 25px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease ;
}

.btns >:nth-child(1):hover{
    background-color: darkorange;
    color: black;
    border: 2px solid darkorange;

}

.btns >:nth-child(2){
    padding: 10px 25px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btns >:nth-child(2):hover{
    background-color: darkorange;
    color: black;
    border: 2px solid darkorange;
}

h1{
    font-size: 50px;
    color: darkorange;
}

.social{
    display: flex;
    gap: 20px ;
}

.social img{
    width: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.social img:hover{
    transform: scale(0.9);
}


@media (max-width:1024px) {
    .section-1{
        flex-direction: column;
        height: 100%;
        margin-bottom: 50px;
    }

    .section-1-1{
        margin-left: 0px ;
    }

    .section-1-2{
        align-items: center;
    }
    p{
        text-align: center;
        width: 70%;
    }

}
@media (max-width:767px) {
    .section-1{
        height: 100%;
        margin-bottom: 50px;
        padding-bottom: 50px;
        flex-direction: column;
    }

    .section-1-1 img{
        width: 300px;
        height: 300px;
    }
    .section-1-2{
        align-items: center;
        padding-bottom: 50px;
    }
    p{
        text-align: center;
    }
    h1{
        font-size: 40px;
    }
    .section-1-1{
        margin-top: 50px;
    }

}

