@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    font-style:normal;
    font-weight: 500;
}

.navbar{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 100px;
}

.logo{
    width: 40%;
    font-size: 32px;
    font-weight: 600;
    color:darkorange;
    cursor: pointer;

}

.menu-bar{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-bar li{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

a:hover{
    color: darkorange;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: darkorange;
}

.navbar-menu{
    display: none;
}

@media (max-width: 1024px) {
    .navbar{
        display: none;
    }
    .navbar-menu{
        display: flex;
    }
    .hamburger {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.2);
        position: fixed;
        right: 30px;
        top: 20px;

    }

    .hamburger i{
        font-size: 35px;
        padding: 4px;
    }

    .navbar-menu .logo{
        margin-top: 20px;
        padding-left: 30px;
    }

    .navbar-menu .menu-bar{
        display: flex;
        flex-direction: column;
        background-color: darkorange;
        position: fixed;
        right: 0;
        top: 70px;
        padding: 10px;
        gap: 10px;
        border-radius: 5px;
        margin-right: -500px;
        border-radius: 5px;

    }

    .navbar-menu .menu-bar.show{
        margin-right: 0px;
    }

    .navbar-menu .menu-bar li{
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        font-weight: 600;

    }
}

